#BACK
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

#FRONT
# EXPO_PUBLIC_BACKEND_REST=http://185.44.167.225:8000/api
# EXPO_PUBLIC_BACKEND_WS=ws://185.44.167.225:8000
EXPO_PUBLIC_BACKEND_REST=http://localhost:8000
EXPO_PUBLIC_BACKEND_WS=ws://localhost:8000
